base_js/.idea/.name
base_js/.idea/base_js.iml
base_js/.idea/encodings.xml
base_js/.idea/inspectionProfiles/Project_Default.xml
base_js/.idea/inspectionProfiles/profiles_settings.xml
base_js/.idea/jsLibraryMappings.xml
base_js/.idea/misc.xml
base_js/.idea/modules.xml
base_js/.idea/scopes/scope_settings.xml
base_js/.idea/vcs.xml
